.btn {
    font-size: 1.6rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.6rem !important;
}

.btn.btn-sm {
    padding: 0.5rem 1.2rem;
}

.only-button {
    width: 4rem;
    height: 4rem;
    border: 0;
    background-color: #f9f9f9;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    box-shadow: none !important;
    outline: none !important;
}

.only-button-dd{
    width: 4rem;
    height: 4rem;
    border: 0;
    background-color: #f9f9f9;
    border-radius: 0.4rem !important;
    font-size: 1.8rem;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 !important;
    color: #333 !important;
    
    &:after{
        display: none !important;
    }

    &:hover , &:active , &:focus, &:visited,&.show{
        background-color: #f9f9f9 !important;
    }
}


.btn-action {
    width: 100%;
    background: #efefef;
    border: 0;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    outline: none !important;
    box-shadow: none !important;
    &:hover , &:active , &:focus{
        background-color: #efefef !important;
    }

    &:after{
        display: none !important;
    }
}