.action-dd-menu {
    .dropdown-item {
        font-size: 1.4rem;
    }
}

.filterDropdown {
    width: 25rem;

    .filter_header {
        padding: 0.6rem 1.5rem 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        border-bottom: 0.1rem solid #dee2e6;
    }


    .filter_options {
        padding: 1.5rem 1.5rem 1.2rem;
        max-height: calc(100vh - 290px);
        overflow: hidden;
        overflow-y: auto;

        .checkbox-item {
            label {
                font-size: 1.6rem;
                margin-left: 0.5rem;
            }
        }
    }

    .filter_bottom {
        padding: 0 1rem 1.4rem;
    }
}