.form-control {
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    padding: 0 1.5rem 0.1rem;
}
.table-checkbox {
    transform: scale(1.5);
}

.boot-select {
    position: relative;
    .fa-angle-down {
        position: absolute;
        top: 1.2rem;
        right: 1.1rem;
    }
}