.pagination{
    .page-link {
        border: 0;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0.4rem !important;
        padding: 0.7rem 1.3rem;
        font-size: 1.4rem;

        &.active{
            background-color: $primary-color !important;
            color: #fff !important;
            padding: 0.7rem 1.5rem;
        }

        &.unactive.active {
            background: transparent !important;
            color: #000 !important;
        }
    }
}