.form-control{
    &::-webkit-input-placeholder , &:-ms-input-placeholder , &::placeholder{
        color: #c1b9b9 !important;
        font-weight: 500;
    }

    &.placeholder-normal{
        &::-webkit-input-placeholder , &:-ms-input-placeholder , &::placeholder{
            font-weight: normal !important;
        }
    }
}