.page-size {
    width: 72px;
    font-size: 13px;
    height: 33px;
}

.table-body {
    height: calc(100vh - 0rem);
    padding: 0 0.2em 2rem;
}

.allcheckbox {
    position: relative;

    input[type="checkbox"] {
        cursor: pointer;
    }
}


.table-header .search-field {
    max-width: 230px;
}


.body-header {
    padding-left: 0.5rem;
}


.body-content {
    height: calc(100vh - 33.1rem);
    overflow: hidden;
    overflow-y: auto;
    /* margin-right: -1.5rem; */
    padding-left: 0.5rem;
}


.body-row {
    padding: 1.5rem 0;
}


.action-dd-menu .dropdown-item {
    font-size: 1.4rem;
}


/* filter sidebar */
.filter_sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: #f7f7f7;
    height: 100%;
    border-left: 1px solid #ccc;
    padding: 10px 15px;
    width: 27rem;
    transform: translateX(100%);
    transition: all 300ms ease-in;
}


.filter_sidebar.show {
    transform: translateX(0%);
}

.filter_sidebar form {
    height: 100%;
}


.filter_sidebar form .filter_fields {
    height: calc(100% - 70px);
    overflow: hidden;
    overflow-y: auto;
    padding: 0 1rem;
    margin-bottom: 30px;
}

/* search box css */
.inner-search-box {
    width: 100%;
    position: relative;
}

.inner-search-box input {
    background: #f9f9f9;
    padding-left: 3.2rem;
}


.inner-search-box i {
    position: absolute;
    top: 50%;
    left: 1rem;
    font-size: 1.4rem;
    color: #ccc;
    transform: translateY(-50%);
}

.filter_sidebar input {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.cross_icon {
    display: none;
}


.cross_icon_show .cross_icon {
    display: inline-block;
}

.cross_icon_show .slider_icon {
    display: none;
}

.body-header>div {
    color: #0d6efd;
    font-weight: 500;
}


.body-content .body-row * {
    font-size: 14px;
}