.table-header {
    .search-field {
        max-width: 23rem;
    }
}


.table-body {
    height: calc(100vh - 0rem);
    padding: 0 0.2em 2rem;

    .body-header {
        padding-left: 0.5rem;
        &>div {
            color: #0d6efd;
            font-weight: 500;
        }
    }

    .body-content {
        height: calc(100vh - 29rem);
        overflow: hidden;
        overflow-y: auto;
        padding-left: 0.5rem;

        .body-row {
            border-bottom: 0.1rem dashed #efefef;
            padding: 1.5rem 0;
            * {
                font-size: 1.4rem;
            }

            &:last-child {
                border-bottom: 0 !important;
            }
        }
    }
}