.custom_toast {
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    background: #000;
    color: #fff;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    border-radius: 4px;

    i {
        color: #fff;
        background: #1ba71b;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7rem;
    }

    &.error_tost{
        color: #f57d7d;
        i{
            background-color: red;
        }
    }
}