.widget-card {
    border: 0.1rem solid #f1f1f2;
    box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.03);
    padding: 3rem;

    .title {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .thumb_img {
        width: 13.8rem;
        height: 13.8rem;
        min-width: 13.8rem;
        border: 0.3rem solid #ffffff;
        box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
        border-radius: 1rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .btn-edit {
            position: absolute;
            top: -1.2rem;
            right: -1.5rem;
            width: 2.5rem;
            height: 2.5rem;
            border: 0;
            background: #fff;
            border-radius: 50%;
            font-size: 1.2rem;
            box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #b7b7b7;
            cursor: pointer;
        }
    }



    .upload_more {
        display: inline-block;
        width: 11.5rem;
        position: absolute;
        right: 2.5rem;
        top: 1.7rem;

        label {
            width: 100%;
            font-size: 1.4rem;
        }

        input {
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .hint{
        font-size: 1.2rem;
        text-align: center;
        padding-top: 20;
        color: #979797;
    }
}