.category-box {
    background: #eaf5f7;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    position: relative;
    border: 0.1rem solid #f1f1f2;
    box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.03);
    .btn-trash {
        position: absolute;
        top: -10.1rem;
        right: -0.7rem;
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 2rem;
        border: 0.1rem solid #4373fd;
        &:hover{
            background-color: red;
            color: #fff;
            border-color: red;
        }
    }
}