.image_list {
    overflow: hidden;
    overflow-x: auto;
    padding-top: 2rem;
    margin-top: -2rem;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: -1.5rem;
}