.image_list {
    overflow: hidden;
    overflow-x: auto;
    padding-top: 20px;
    margin-top: -20px;
    padding-left: 15px;
    margin-left: -15px;
    padding-bottom: 15px;
    margin-bottom: -15px;
}