.login {
    overflow: hidden;
    min-height: 100vh;

    /* left panel */
    .left-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        padding: 3rem;
        min-height: 100%;

        form {
            width: 400px;
            margin-top: 2.5rem;
        }
    }

    /* right panel */
    .right-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-flow: column wrap;

        .login_bg_image {
            max-width: 70%;
        }

        .right_content {
            text-align: center;
            max-width: 70%;
            margin: 15px auto 0;

            * {
                color: #fff;
            }

            .content-title {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.4rem;
                opacity: 0.8;
            }
        }
    }

}