.primary-bg {
    background-color: $primary-color;
}

.text-primary {
    color: $primary-color !important;
}

.btn-primary {
    background-color: $primary-color;
}

.text-primary-hover:hover {
    color: $primary-color !important;
}